<div class="row m-5 p-3 bg-white">
  <div class="col-9 mt-3">
    <h2>Predmet</h2>
    <h4>Naziv: {{subject.name}}</h4>
    <div>Nedeljni fond casova: {{subject.weeklySubjectFund}}</div>
    <div>Opis: {{subject.description}}</div>
  </div>
  <div class="col-3 mt-3">
    <h4>Izmeni predmet</h4>
    <div class="col-8 m-0">
      <div class="row my-bg-grey">
        <div class="col">
          <div class="user-button-small card my-3 bg-danger">
            <h3 class="my-auto card-title text-center">Edit</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-5 p-3 bg-white">
  <div class="col-12">
    <h2>Profesori koji predaju predmet {{subject.name}}</h2>
  </div>
  <div class="col-4" *ngFor="let teacher of subject.teachers">
    <div class="user-button-small my-3 btn btn-primary" routerLink="/teachers/{{teacher.id}}">
      <h5 class="my-auto">{{ teacher.firstName + ' ' + teacher.lastName }}</h5>
    </div>
  </div>
</div>