<div class="container w-100 mt-3">
  <h2 class="text-center display-4">Predmeti</h2>
  <div class="row pt-5">
    <div class="col-4">
        <div class="user-button mx-auto my-5 btn btn-danger">
            <h3 class="mx-auto" routerLink="/addSubject">Add New</h3>
          </div>
    </div>
    <div class="col-4" *ngFor="let subject of subjects$ | async">
      <div class="user-button mx-auto my-5 btn btn-primary" routerLink="/subjects/{{subject.id}}">
        <h3>{{ subject.name }}</h3>
      </div>
    </div>
  </div>
</div>
