<div class="row m-5 p-3 bg-white">
    <div class="col-9 mt-3">
      <h2>Ocena</h2>
      <h4>Vrednost: {{mark.value}}</h4>
      <div>Data: {{mark.markDate}}</div>
      <div>Student: {{mark.student.firstName}} {{mark.student.lastName}}</div>
      <div>Predmet: {{mark.subject.name}}</div>
      <div>Ocenjivac: {{mark.grader.firstName}} {{mark.grader.lastName}}</div>
      <h5 class="mt-5">Opis ocene:</h5>
      <p>{{mark.description}}</p>
    </div>
    <div class="col-3 mt-3">
      <h4>Izmeni ocenu</h4>
      <div class="col-8 m-0">
        <div class="row my-bg-grey">
          <div class="col">
            <div class="user-button-small card my-3 bg-danger">
              <h3 class="my-auto card-title text-center">Edit</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>