<div>
    <div class="text-center mt-3">
      <h3>Dodavanje novog predmeta</h3>
    </div>
    <div class="mt-4 p-3">
      <form class="form-add clearfix w-50 mx-auto p-4" ngNativeValidate (submit)="addSubject(subjectName.value, weeklySubjectFund.value, description.value)">
  
        <div class="form-group">
          <label for="subjectName">Subject Name</label>
          <input class="form-control" type="text" id="subjectName" #subjectName tabindex="1" required/>
        </div>
        <div class="form-group">
          <label for="weeklySubjectFund">Weekly subject fund</label>
          <input class="form-control" type="number" step="1" min="2" max="5" id="weeklySubjectFund" #weeklySubjectFund tabindex="2" required />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" rows="3" id="description" #description tabindex="3"></textarea>
        </div>
  
        <div class="float-right">
          <button class="btn btn-outline-primary mr-1" type="submit" tabindex="9">Add subject</button>
          <button class="btn btn-outline-warning" type="reset" tabindex="10">Reset form</button>
        </div>
  
      </form>
    </div>
  </div>