<div>
  <div class="text-center mt-3">
    <h3>Izmena postojeceg administratora</h3>
  </div>
  <div class="mt-4 p-3">
    <form class="form-add clearfix w-50 mx-auto p-4" ngNativeValidate (submit)="editAdmin(id.value, userName.value, firstName.value, lastName.value, address.value, phoneNumber.value, email.value)">
     
      <div class="form-group">
        <label for="id">Id</label>
        <input class="form-control" placeholder="{{user.id}}" type="text" id="id" #id tabindex="1"/>
      </div>

      <div class="form-group">
        <label for="userName">UserName</label>
        <input class="form-control" placeholder="{{user.userName}}" type="text" id="userName" #userName tabindex="2"/>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" placeholder="{{user.firstName}}" type="text" id="firstName" #firstName tabindex="3"/>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" placeholder="{{user.lastName}}" type="text" id="lastName" #lastName tabindex="4"/>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" placeholder="{{user.address}}" type="text" id="address" #address tabindex="5"/>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input class="form-control" placeholder="{{user.phoneNumber}}" type="text" id="phoneNumber" #phoneNumber tabindex="6"/>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" placeholder="{{user.email}}" type="text" id="email" #email tabindex="7"/>
      </div>

      <div class="float-right">
        <button class="btn btn-outline-primary mr-1" type="submit" tabindex="8">Edit admin</button>
        <button class="btn btn-outline-warning" type="reset" tabindex="9">Reset form</button>
      </div>

    </form>
  </div>
</div>