<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-1 position-fixed bg-primary" id="sticky-sidebar">
            <h2 class="text-center mt-3">{{ currentUser.name + ' ' + currentUser.surname }}</h2>
            <div class="row mt-1 justify-content-center">
                <img src="../assets/images/user-icon.png" alt="image" class="rounded-circle user-image p-1">
            </div>
            <div class="row">
                <div class="btn-group-vertical col mt-5 menu">
                    <div class="btn btn-primary mb-1 menu-item" routerLink="/admins">Administratori</div>
                    <div class="btn btn-primary mb-1 menu-item" routerLink="/teachers">Nastavnici</div>
                    <div class="btn btn-primary mb-1 menu-item" routerLink="/students">Studenti</div>
                    <div class="btn btn-primary mb-1 menu-item" routerLink="/parents">Roditelji</div>
                    <div class="btn btn-primary mb-1 menu-item" routerLink="/subjects">Predmeti</div>
                    <div *ngIf="currentUser" class="btn btn-primary mb-1 menu-item">Logovi</div>
                </div>
            </div>
        </div>
        <div class="col-10 offset-2 main">
            <div class="row align-items-center position-fixed" id="toolbar">
                <div class="col-5">
                    <a href="#" id="logo" class="ml-1">
                        <img src="../assets/images/logo.png" alt="logo">
                        <span class="px-2">Elektronski Dnevnik</span>
                    </a>
                </div>
                <div class="col-4 text-capitalize">{{ currentUser.role.slice(0, -1) }}</div>
                <div class="col">
                    <a href="#" id="logout">LogOut</a>
                </div>
            </div>
            <div class="app">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>