<div>
    <div class="text-center mt-3">
      <h3>Dodavanje nove ocene</h3>
    </div>
    <div class="mt-4 p-3">
      <form class="form-add clearfix w-50 mx-auto p-4" ngNativeValidate (submit)="addMark(value.value, description.value)">
  
        <div class="form-group">
          <label for="value">Mark Value</label>
          <input class="form-control" type="number" step="1" min="1" max="5" id="value" #value tabindex="1" required/>
        </div>
          
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" rows="3" id="description" #description tabindex="2"></textarea>
        </div>
  
        <div class="float-right">
          <button class="btn btn-outline-primary mr-1" type="submit" tabindex="3">Add mark</button>
          <button class="btn btn-outline-warning" type="reset" tabindex="4">Reset form</button>
        </div>
  
      </form>
    </div>
  </div>