<div class="row m-5 p-3 bg-white">
  <div class="col-2 justify-content-center">
    <img src="../assets/images/user-icon.png" alt="image" class="rounded-circle user-image p-1 bg-primary">
  </div>
  <div class="col-4 mt-3">
    <h2>Student</h2>
    <h4>{{user.firstName}} {{user.lastName}}</h4>
    <div>Adresa: {{user.address}}</div>
  </div>
  <div class="col-3 mt-3">
    <h4>Roditelji</h4>
    <div class="col-11 m-0">
      <div class="row my-bg-grey">
        <div class="col-12" *ngFor="let parent of user.parents">
          <div class="user-button-small my-3 btn btn-primary" routerLink="/parents/{{parent.id}}">
            <h5 class="my-auto">{{ parent.firstName + ' ' + parent.lastName }}</h5>
          </div>
        </div>
        <div *ngIf="user.parents.length<2" class="col-12">
          <div class="user-button-small card my-3 bg-danger">
            <h4 class="my-auto card-title text-center">Add New</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mt-3">
    <h4>Izmeni studenta</h4>
    <div class="col-8 m-0">
      <div class="row my-bg-grey">
        <div class="col">
          <div class="user-button-small card my-3 bg-danger">
            <h3 class="my-auto card-title text-center">Edit</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <h4>Nastavnik</h4>
  </div>
  <div class="col-2">
    <h4>Predmet</h4>
  </div>
  <div class="col-6">
    <h4>Ocene</h4>
  </div>
  <div class="col-12" *ngFor="let studentSubjectMarks of marks$ | async">
    <div class="row">
      <div class="col-2">
        <div class="mx-auto my-1 btn btn-primary" routerLink="/teachers/{{studentSubjectMarks.teacher.id}}">
          <h5>{{ studentSubjectMarks.teacher.firstName + ' ' + studentSubjectMarks.teacher.lastName }}</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="mx-auto my-1 btn btn-primary" routerLink="/teachers/{{studentSubjectMarks.teacher.id}}">
          <h5>{{ studentSubjectMarks.subject.name }}</h5>
        </div>
      </div>
      <div class="col-6">
        <h6 *ngFor="let mark of studentSubjectMarks.marks">
          <a routerLink="/marks/{{mark.id}}" style="color: black">{{mark.value}}</a>
        </h6>
      </div>
      <div class="col-2">
        <div class="user-button mx-auto my-1 h-55 btn btn-danger">
          <h5 class="mx-auto" routerLink="/addMark">Add</h5>
        </div>
      </div>
    </div>
  </div>
</div>
