<div>
  <div class="text-center mt-3">
    <h3>Dodavanje novog administratora</h3>
  </div>
  <div class="mt-4 p-3">
    <form class="form-add clearfix w-50 mx-auto p-4" ngNativeValidate (submit)="addAdmin(userName.value, firstName.value, lastName.value, password.value, confirmPassword.value, address.value, phoneNumber.value, email.value)">

      <div class="form-group">
        <label for="userName">UserName</label>
        <input class="form-control" type="text" id="userName" #userName tabindex="1" required/>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" id="firstName" #firstName tabindex="2" required />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" type="text" id="lastName" #lastName tabindex="3" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" #password tabindex="4" required />
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input class="form-control" type="password" id="confirmPassword" #confirmPassword tabindex="5" required />
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" type="text" id="address" #address tabindex="6" required />
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input class="form-control" type="text" id="phoneNumber" #phoneNumber tabindex="7" required />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" id="email" #email tabindex="8" required />
      </div>

      <div class="float-right">
        <button class="btn btn-outline-primary mr-1" type="submit" tabindex="9">Add admin</button>
        <button class="btn btn-outline-warning" type="reset" tabindex="10">Reset form</button>
      </div>

    </form>
  </div>
</div>
