/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts/googleapis.com/css?family=Ubuntu');
* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100%;
    background-color: #F7F7FF;
}

a:link, a:visited, a:hover, a:active {
    color: white;
}

#sticky-sidebar {
    height: 100%;
    color: white;
}

.main {
    /*margin-left: 16.67%;*/
    height: 100%;
}

.my-bg-grey {
    background-color: #f7f7f7;
}

#toolbar {
    top: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    color: white;
    background-color: #2D385E;
    z-index: 999;
}

.app {
    padding-top: 100px;
}

.user-image {
    height: 150px;
    border: solid white 5px;
    margin: 15px;
}

.user-image-small {
    height: 50px;
    border: solid white 2px;
    margin: 5px;
}

.menu-item {
    border-bottom: solid 1px black;
}

.user-button {
    width: 100%;
    height: 65px;
}