<div class="row m-5 p-3 bg-white">
  <div class="col-2 justify-content-center">
    <img src="../assets/images/user-icon.png" alt="image" class="rounded-circle user-image p-1 bg-primary">
  </div>
  <div class="col-4 mt-3">
    <h2>Administrator</h2>
    <h4>{{user.firstName}} {{user.lastName}}</h4>
    <div>Telefon: {{user.phoneNumber}}</div>
    <div>Email: {{user.email}}</div>
    <div>Adresa: {{user.address}}</div>
  </div>
  <div class="col-3"></div>
  <div class="col-3 mt-3">
    <h4>Izmeni administratora</h4>
    <div class="col-8 m-0">
      <div class="row my-bg-grey">
        <div class="col">
          <div class="user-button-small my-3 btn btn-danger" routerLink="/editAdmin/{{user.id}}">
            <h3 class="my-auto text-center">Edit</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>