<div class="container w-100 mt-3">
  <h2 class="text-center display-4">Administratori</h2>
  <div class="row pt-5">
    <div class="col-4">
      <div class="user-button mx-auto my-5 btn btn-danger">
        <h3 class="mx-auto" routerLink="/addAdmin">Add New</h3>
      </div>
    </div>
    <div class="col-4" *ngFor="let user of users$ | async">
      <div class="user-button mx-auto my-5 btn btn-primary" routerLink="/admins/{{user.id}}">
        <div class="row">
          <div class="col-3">
            <img src="../../../../assets/images/user-icon.png" alt="image" class="rounded-circle user-image-small my-auto">
          </div>
          <h3 class="my-auto">{{ user.firstName + ' ' + user.lastName }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
